.checkout-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 30px auto;
  font-family: 'Poppins', sans-serif;
  gap: 40px;
}

.billing-left {
  flex: 1.8;
  background: #c69c6d;
  padding: 24px 30px;
  border-radius: 14px;
  color: black;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.billing-left h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
}

.form-row, .form-row-2 {
  margin-bottom: 16px;
}

.form-row-2 {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.form-row-2 div {
  flex: 1;
}

label {
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

select, input {
  width: 100%;
  height: 46px;
  border: 1px solid rgb(75, 71, 71);
  border-radius: 26px;
  padding-left: 14px;
  font-size: 15px;
  outline: none;
}

.summary-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height:350px;
}

.order-summary-box {
  width: 270px;
  border: 2px solid black;
  border-radius: 12px;
  background: white;
  padding: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.order-summary-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 8px;
}

.summary-row.total {
  border-top: 1.8px dashed #777;
  padding-top: 6px;
  font-size: 17px;
  font-weight: 600;
}

.proceed-pay-btn {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 14px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}
.delivery-option-row {
  display:flex;
  justify-content: space-between;
  gap:20px;
  margin-top:8px;
}

.delivery-btn {
  background:white;
  border:2px solid black;
  border-radius:28px;
  padding:12px 16px;
  font-size:14px;
  font-weight:500;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  width:280px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  text-align:center;
}

.delivery-btn input {
  display:none; /* hide default radio */
}

.delivery-btn span {
  display:flex;
  align-items:center;
  gap:8px;
}

.delivery-btn i {
  font-size:16px;
  color:black;
}
